.btn {
    width: max-content;
    height: max-content;
    color: white;
    background-color: blue;
    border: 0;
    border-radius: 6px;
    display: flex;
    text-transform: uppercase;
    padding: 6px;
    font-size: 20px;
    margin: auto;
    transition: 0.4s ease;
    font-family:sans-serif;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 30px rgb(156, 150, 150);
}

.icon {
    margin-left: 3px;
}